/*-----------------------------------------------------------------------Global style*/
body {
  background-color: #c4ca14;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
input {
  font-family: inherit;
}
button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
button:hover,
button:focus {
  transform: scale(1.03);
  box-shadow: inset 0 0 10px #92a0fc;
}

/*-------------------------------------------------------------Error-page*/
.error-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 11, 7, 0.5);
}
.error-window.is-open {
  display: flex;
}
.text-error {
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  padding: 40px 80px;
  max-width: 600px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05;
}
.not-images-text {
  border: 2px solid #636373;
  border-radius: 10px;
  background-color: white;
  padding: 40px 80px;
  max-width: 600px;
  color: #636373;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05;
}

/*--------------------------------------------------------Not-images-page*/
.not-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 11, 7, 0.5);
}
.not-images.is-open {
  display: flex;
}
.not-new-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 11, 7, 0.5);
}
.not-new-img.is-open {
  display: flex;
}

/*-------------------------------------------------------------Start-page*/
section {
  padding: 30px 0;
}
.title-game {
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.title-game::before,
.title-game::after {
  content: '';
  display: block;
  background-color: black;
  width: 50px;
  height: 3px;
  transform: translateY(-50%);
}
.start-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.list-teme {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.choice-teme {
  flex-basis: calc((100% - 30px) / 3);
  height: 150px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  box-shadow: inset 0 0 10px #fcf405;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.choice-teme:hover,
.choice-teme:focus {
  transform: scale(1.02);
  box-shadow: inset 0 0 15px #fac70f;
}
.enter-teme {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.inp-teme {
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 18px;
  transition: border-color 250ms ease-in-out;
}
.inp-teme:hover,
.inp-teme:focus {
  border-color: black;
}
.btn-start {
  background-color: #0f2efa;
  color: aliceblue;
  border-radius: 50%;
  width: 180px;
  height: 32px;
  font-weight: 500;
}

/*-------------------------------------------------------------Game-page*/
.start-page.is-close {
  display: none;
}
.game-page {
  display: none;
}
.game-page.is-open {
  display: block;
}
.game-gallery {
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.game-item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid black;
}
.hidden {
  visibility: hidden;
}
.fon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f2efa;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 15px #faf884;
}
.fon.invis {
  visibility: hidden;
}
.fon:focus,
.fon:hover {
  box-shadow: inset 0 0 15px #e8f00e;
}
.num-round {
  display: none;
  max-width: 150px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
}
.num-round.is-open {
  display: block;
}

/*-------------------------------------------------------------Round-ower*/
.round-ower {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 11, 7, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.round-ower.is-open {
  display: flex;
}
.round-ower-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.round-ower-list img {
  max-height: 600px;
}
.round-ower-text {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  background-color: white;
  width: 300px;
  height: 170px;
  border: 1px solid blue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roud-ower-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.roud-ower-btn {
  height: 40px;
  width: 170px;
  border-radius: 6px;
  font-weight: 600;
}
.none {
  display: none;
}
